@model IEnumerable<BookOnlineShop.Models.Orders>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Orders List
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <a href="#" class="btn btn-clean btn-icon-sm">
                        <i class="la la-long-arrow-left"></i>
                        Back
                    </a>
                    &nbsp;
                    <div class="dropdown dropdown-inline">
                        <a asp-action="Create" asp-area="admin" asp-controller="Orders" class="btn btn-brand btn-icon-sm" aria-haspopup="true" aria-expanded="false">
                            <i class="flaticon2-plus"></i> Add New Product
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <form asp-action="Index" method="GET">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input style="width: 400px" type="text" class="form-control" name="search" placeholder="Search..." id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-top: 15px">Search</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

            <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">

            <!--begin: Datatable -->
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>STT</th>
                        <th>
                            Order Name
                        </th>
                        <th>
                            Ngày tạo
                        </th>
                        <th>
                            Ngày cập nhật
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>
                            Sản phẩm
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.ID
                            </td>
                            <td>
                                @item.OrderName
                            </td>
                            <td>
                                @item.CreateAt
                            </td>
                            
                            <td>
                                @item.UpdateAt
                            </td>
                            <td>
                                @if (item.Status == 1)
                                {
                                    <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">Active</span>
                                }
                                else
                                {
                                    <span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">Lock</span>
                                }
                            </td>
                            <td>
                                @item.GrandTotal
                            </td>
                           
                            <th>
                                @string.Join(", ", item.OrderProducts.Select(p => p.Products.ProductName))
                            </th>
                            <th></th>


                            <td>
                                <span style="overflow: visible; position: relative; width: 110px;">
                                    <a asp-action="Details" asp-route-id="@item.ID" title="View details" class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                        <i class="la la-folder"></i>
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@item.ID" title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                        <i class="la la-edit"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.ID" title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                        <i class="la la-trash"></i>

                                    </a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--end: Datatable -->
        </div>
    </div>
</div>

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@