@model RoleEdit
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
 
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Edit permissions
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <a asp-action="Index" asp-area="admin" asp-controller="Role" class="btn btn-clean btn-icon-sm">
                        <i class="la la-long-arrow-left"></i>
                        Back
                    </a>
                    &nbsp;

                </div>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="kt-portlet__body">
            <form method="post" asp-area="admin">
                <input type="hidden" name="roleName" value="@Model.Role.Name" />
                <input type="hidden" name="roleId" value="@Model.Role.Id" />

                <p class=" p-1 ">List of accounts :  </p>
                <table class="table table-striped">
                    @if (Model.NonMembers.Count() == 0)
                    {
                        <tr><td colspan="2">- </td></tr>
                    }
                    else
                    {
                        @foreach (ApplicationUser user in Model.NonMembers)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>
                                    <label>Authorization</label>
                                    <input type="checkbox" name="AddIds" value="@user.Id">
                                </td>
                            </tr>
                        }
                    }
                </table>

                <p class=" p-1 ">List of accounts with rights @Model.Role.Name :  </p>
                <table class="table table-striped">
                    @if (Model.Members.Count() == 0)
                    {
                        <tr><td colspan="2">No Users Are Members</td></tr>
                    }
                    else
                    {
                        @foreach (ApplicationUser user in Model.Members)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>
                                    <label>Cancellation of rights</label>
                                    <input type="checkbox" name="DeleteIds" value="@user.Id">
                                </td>
                            </tr>
                        }
                    }
                </table>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>


